/* NAVIGATION*/
.navbar-brand{
    justify-content:center;
}
.nav-link{
    font-family:'Montserrat', sans-serif;
    font-weight:300;
    color:white !important;
    border-bottom: solid white 1px;

}

.nav-item{
    padding-left:15px;
    padding-right:15px;
}


/* HERO IMAGE & INTRODUCTION */
.jumbotron{
    background-image: url(../IMAGES/hero\ test@2x.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.img-responsive{
    padding-top:80%;
    align-content:left;
}
https://github.com/Riv-Morgan/UX.UI.HW.20.FINAL.git

.intro{
    padding-top:70%;
    padding-left:10%;
    font-family:'Montserrat', sans-serif;
    font-weight:500;
    color:#AA6969 !important;
    border-bottom: solid white 1px;
}

.bio{
    padding-left:10%;
    color:black;
    font-family:'Montserrat', sans-serif;
    font-weight:300;
}

.btn {
    background-color:#AA6969;
    border-color:#AA6969;
    margin-left:10%;
    font-weight:300;
}





/* Extra small devices (phones, 600px and down) */


/* CASE STUDY GRIDS */
.card-columns{
    padding-left:5%;
    padding-right:5%;
}

.quote1 {
    font-family: 'Playfair Display', serif !important;
}

.quote2 {
    font-family: 'Playfair Display', serif !important;
}

/* FOOTER */

.navbar-lt{
    background-color: #AA6969;
    padding-bottom:5%
}

