body{
    height:100%
}

body{
    margin: 0;
}

nav{
    display: flex;
    width: 100%;
    height: 20%;
    padding-top:20px;
    align-items: flex-end;
    justify-content: center;
  }
  
  a{
    text-decoration: none;
    color: white;
    margin: 0 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight:300;
    font-size: 150%;
    border-bottom:white;
    border-bottom-style:solid;
    border-bottom-width:2px;
  }
  
  #logo{
    height: 80%;
  }

.gridContainer{
    display:grid;
    grid-template-columns:30% 70%;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "leftSidebar topRight"
    "leftSidebar bottomRight";
}

.leftSidebar{
    grid-area:leftSidebar;
    

}

.topRight{
    grid-area: topRight;
}

.bottomRight{
    grid-area: bottomRight;
}
