/* NAVIGATION*/
.bg-light{
    background-color: transparent;
}

/* HERO IMAGE & INTRODUCTION */
.intro{
   padding-top:10%;
    text-align:right;
    margin-right:20px;
    line-height:10px;
}
    
H1{
    font-family:'Montserrat', sans-serif;
    font-size:500%;
    font-weight:500;
}

h2{
    font-family:'Montserrat', sans-serif;
    font: size 200%;
    font-weight:300; 
}


/* Extra small devices (phones, 600px and down) */

.gridContainer{
    display:grid;
    margin-top:200px;
    margin-left:100px;
    margin-right:100px;
    grid-column-gap:15px;
    grid-template-columns:40% 30% 30%;
    grid-template-rows:auto;
    grid-template-areas: 
    "summary summary summary"
    "techSkills techSkills techSkills"
    "uxUI software frontendDev"
}

.summary{
    grid-area:summary;
    align-content:center;
    background-color: blue;
}
.techSkills{
    grid-area:techSkills;
    background-color: red;
}

.uxUI{
    grid-area:uxUI;
    background-color: green;
}
.software{
    grid-area:software;
    background-color: pink;
}
.frontendDev{
    grid-area:frontendDev;
    background-color:aqua;
}

/* CASE STUDY GRIDS */




/* FOOTER */

.footerGrid{
    
    padding-bottom:20px;
    padding-top:20px;
    background-color:#AA6969;
    display:grid;
    grid-template-columns:25% 50% 25%;
    grid-template-rows: 100%;
    grid-template-areas: 
    "footerLeft footerCenter footerRight";
}

.footerLeft{
    grid-area:footerLeft;
    color:white;
    justify-self:end;
    font-family: 'Montserrat', sans-serif;
    font-weight:300;
    font-size: 100%;
    border-bottom:white;
    border-bottom-style:solid;
    border-bottom-width:2px;
    align-self:end;
}

.footerCenter{
    grid-area:footerCenter;
    justify-self:center;
}

.footerRight{
    grid-area:footerRight;
    color:white;
    justify-self:start;
    font-family: 'Montserrat', sans-serif;
    font-weight:300;
    font-size: 100%;
    border-bottom:white;
    border-bottom-style:solid;
    border-bottom-width:2px;
    align-self:end;
}